Package:MCSManager
Version:9
Section:stable
Priority:optional
Depends:wget,curl,git,tar
Suggests:language-pack-zh-hans,fonts-droid-fallback,ttf-wqy-zenhei,ttf-wqy-microhei,fonts-arphic-ukai,fonts-arphic-uming
Architecture:arm
Maintainer:unitwk
Description:A multilingual, lightweight, out-of-the-box, and multi-instance Minecraft server control panel with Docker support.
